<div class="home__page">
  <div class="container">
    <header class="hero">
      <h1>Welcome to Quicklance!</h1>
      <p>Here is the list of available tasks:</p>
    </header>

    <div class="tasks__list">
      <div *ngFor="let item of data" class="task__item card">
        <div class="task__header">
          <h2 class="task__title">{{ item.title }}</h2>
        </div>
        <div class="task__content">
          <p class="task__description">{{ item.description }}</p>
          <div class="task__details">
            <p><strong>Credits:</strong> {{ item.credits }}</p>
            <p><strong>Created At:</strong> {{ item.createdAt }}</p>
          </div>
        </div>
        <div class="task__buttons">
          <button
            class="task__btn btn-secondary"
            [routerLink]="'/tasks/' + item.id">
            View Details
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
