<div class="form-container">
  <h2>User Registration</h2>

  <form (ngSubmit)="registerUser()">
    <div class="form-group">
      <label for="firstname">Firstname:</label>
      <input
        type="text"
        id="firstname"
        [(ngModel)]="user.firstname"
        name="name"
        required />
    </div>

    <div class="form-group">
      <label for="lastname">Lastname:</label>
      <input
        type="text"
        id="lastname"
        [(ngModel)]="user.lastname"
        name="name"
        required />
    </div>

    <div class="form-group">
      <label for="email">Email:</label>
      <input
        type="email"
        id="email"
        [(ngModel)]="user.email"
        name="email"
        required />
    </div>

    <div class="form-group">
      <label for="password">Password:</label>
      <input
        type="password"
        id="password"
        [(ngModel)]="user.password"
        name="password"
        required />
    </div>

    <div class="form-group">
      <label for="userType">User Type:</label>
      <select
        id="userType"
        [(ngModel)]="user.userType"
        name="userType"
        required>
        <option value="client">CLIENT</option>
        <option value="freelancer">FREELANCER</option>
      </select>
    </div>

    <button type="submit">Register</button>
    <button type="button" (click)="resetForm()">Reset</button>
  </form>

  <div *ngIf="successMessage" class="success-message">
    {{ successMessage }}
  </div>

  <div *ngIf="errorMessage" class="error-message">
    {{ errorMessage }}
  </div>
</div>
