<nav class="navbar">
  <div class="navbar-brand">QuickLance</div>

  <div class="user-info">
    <span *ngIf="isUserAuthenticated">User ID: {{ userId }}</span>
    <span *ngIf="isUserAuthenticated">Balance: ${{ userBalance }}</span>
    <ul class="menu">
      <li class="menu-link" *ngFor="let item of menuItems">
        <a [routerLink]="item.route">{{ item.label }}</a>
      </li>
    </ul>
  </div>

  <a class="auth-button" *ngIf="isUserAuthenticated" href="/register">Logout</a>
  <a class="auth-button" *ngIf="!isUserAuthenticated" (click)="localStorage.removeItem('token')">Login</a>
</nav>
