<div *ngIf="error" class="error">
  {{ error }}
</div>

<div *ngIf="clientTasks.length > 0; else noTasks">
  <div class="tasks-container">
    <div class="task-card" *ngFor="let task of clientTasks">
      <a [routerLink]="'/task/' + task.id" class="task-link">
        <h3>{{ task.title }}</h3>
      </a>
      <p>{{ task.description }}</p>
      <p><strong>Credits:</strong> {{ task.credits }}</p>
      <p><strong>Created At:</strong> {{ task.created_at }}</p>
      <a class="view-submissions-btn" href="/tasks/{{task.id}}">View Submissions</a>
    </div>
  </div>
</div>

<ng-template #noTasks>
  <p>No tasks found.</p>
</ng-template>
